@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NavigationListItem>>
@using NewGood.Models;


<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <h1><img id="logo" src="/images/logotransscale.gif"></h1>
            <nav role="navigation">
                <ul>
                    @RenderChildItems(Model)
                </ul>
            </nav>
        </div>
    </div>
</header>


@helper RenderChildItems(List<NavigationListItem> listItems)
{
    if (listItems != null)
    {
        foreach (var item in listItems)
        {
                <li>
                    @if (!String.IsNullOrEmpty(item.Text))
                    {
                        @item.Text
                    }
                    else if (item.Link != null && item.Link.Text != "Search")
                    {
                        <a href="@item.Link.Url" class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.Link.Text == "Search" ? "btn search-btn rounded bg-warning" : null) @(item.HasChildren ? "fh5co-sub-ddown" : null)" target="@item.Link.Target">@item.Link.Text</a>
                    }

                    else if (item.Link != null && item.Link.Text == "Search")
                    {
                        <a href="@item.Link.Url" class="@(Umbraco.AssignedContentItem.Url == item.Link.Url ? "active" : null) @(item.Link.Text == "Search" ? "btn search-btn rounded bg-warning" : null)" target="@item.Link.Target"><span class="search-span"><i class="fas fa-search"></i> @item.Link.Text</span></a>
                    }

                    @if (item.HasChildren)
                    {
                        <ul class="sub-menu">
                            @RenderChildItems(item.Items)
                        </ul>
                    }
                </li>
        }
    }
}
